<div class="app-container">
  <h1>10-Month Moving Average</h1>
  <form [formGroup]="userForm" (ngSubmit)="handleSubmit()" *ngIf="this.symbolItemList.length === 0">
    <label>
      Username:
      <input type="text" required formControlName="username" />
    </label>
    <button type="submit">GET RESULTS</button>
  </form>
  <div class="results" *ngIf="this.symbolItemList.length > 0">
    <div>Welcome, {{ this.username }}</div>
    <button (click)="handleLogout()">Logout</button>
    <form [formGroup]="newSymbolForm" (ngSubmit)="handleAddSymbolSubmit()">
      <label>
        Symbol:
        <input type="text" required formControlName="symbol"/>
      </label>
      <button>Add Symbol</button>
    </form>
    <table>
      <tr>
        <th>Symbol</th>
        <th>Current Price ($)</th>
        <th>10-Month Average Price ($)</th>
        <th>Margin (%)</th>
        <th>Last Updated</th>
        <th>ACTION</th>
        <th>10 - Month Prices</th>
      </tr>
      <tr *ngFor="let symbolItem of symbolItemList"
        [ngClass]="{ 'buy' : symbolItem.action === '[BUY]', 'sell' : symbolItem.action === '[SELL]'}">
        <td>{{ symbolItem.symbol }}</td>
        <td>${{ (symbolItem.currentPrice).toFixed(2) }}</td>
        <td>${{ (symbolItem.average).toFixed(2) }}</td>
        <td>{{ (symbolItem.margin * 100).toFixed(2) }}%</td>
        <td>{{ symbolItem.datetime }}</td>
        <td>{{ symbolItem.action }}</td>
        <td>
          <ol>
            <li *ngFor="let price of symbolItem.prices">${{ (price.price).toFixed(2) + ' : ' + price.datetime}}</li>
          </ol>
        </td>
      </tr>
    </table>
    <button (click)="handleUpdate()">UPDATE ALL NOW</button>
  </div>
</div>
