<div class="home-page-container">
  <div class="chart-container">
    <canvas id="myChart" width="400" height="175"></canvas>
  </div>
  <div class="chart-options">
    <button (click)="handleChartOptionClick('all')">All Time</button>
    <button (click)="handleChartOptionClick('2000')">2000 Dot-Com Bubble</button>
    <button (click)="handleChartOptionClick('2007')">2007/2008 Financial Crisis</button>
    <button (click)="handleChartOptionClick('2015')">July 2015 - Now</button>
    <label>Threshold {{ this.threshold }}%
      <!-- <select ngModel="threshold" (change)="setThreshold($event.target.value)">
        <option value="0">0%</option>
        <option value="1">1%</option>
        <option value="2">2%</option>
        <option value="3">3%</option>
        <option value="4" selected>4%</option>
        <option value="5">5%</option>
      </select> -->
    </label>
  </div>
  <div>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~</div>
  <div>
    <app-what-if-calculator></app-what-if-calculator>
  </div>
  <div>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~>~~~~~~~~~~~~~~~~~~~~~~~</div>
  <div class="latest" *ngIf="this.latestPrice">
    <h1>LATEST 10 MONTH MOVING AVERAGE</h1>
    <h3>{{ this.symbolName }} (<a href="https://www.google.com/search?q={{this.symbolId}}">{{this.symbolId}}</a>)</h3>
    <h3>{{ this.latestTitle }} (First Trading Day of The Month)</h3>
    <h3>{{ this.latestTitle }} Closing Day Price: ${{ this.latestPrice.toFixed(2) }}</h3>
    <h3>10 Month Moving Average: ${{ this.latestAverage.toFixed(2) }}</h3>
    <h2 *ngIf="this.marketStatus === 'IN'">Because the Price (${{ this.latestPrice.toFixed(2) }}) is <u>greater</u> than the 10 Month Moving Average (${{ this.latestAverage.toFixed(2) }}) you want to be IN the market.</h2>
    <h2 *ngIf="this.marketStatus === 'OUT'">Because the Price (${{ this.latestPrice.toFixed(2) }}) is <u>less</u> than the 10 Month Moving Average (${{ this.latestAverage.toFixed(2) }}) you want to be OUT OF market.</h2>
    <h3>Next Update: The First Trading Day of Next Month</h3>
  </div>
  <!-- <h1>Are You Invested in The Market?</h1>
  <div class="market">
    <h3 class="hold">Hold</h3>
    <h3 class="get-out">Get Out</h3>
    <h3 class="buy-more">Buy More</h3>
  </div>
  <h1>|| OR ||</h1>
  <h1>Are You <u>Not?</u></h1>
  <div class="not-market">
    <h3 class="get-in">Get In</h3>
    <h3 class="stay-out">Stay Out</h3>
  </div> -->
</div>
