.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 90%;
  // height: 350px;
}

.chart-options {
  display: flex;
  justify-content: space-between;

  button {
    font-size: 20px;
    padding: 12px;
    cursor: pointer;
  }
}
