<div class="what-if-calculator-container">
  <form [formGroup]="whatIfForm" (submit)="handleWhatIfCalculatorSubmit($event)">
    <label class="label">
      Current Balance ($):
      <input type="number" min="0" formControlName="currentBalance">
    </label>
    <label class="label">
      Start Date:
      <input type="date" formControlName="startDateTime">
    </label>
    <label class="label">
      End Date:
      <input type="date" formControlName="endDateTime">
    </label>
    <div>
      <table>
        <tr>
          <th *ngFor="let year of years" class="label">{{ year }}</th>
        </tr>
        <tr>
          <td *ngFor="let year of years">
            <select [formControlName]="year + 'TaxBrackets'">
              <option *ngFor="let bracket of getBrackets(year)" [value]="bracket.index">{{ bracket.rangeLabel }}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <label class="label">
      Symbol:
      <select formControlName="symbol">
        <option value="SPY">SPY</option>
      </select>
    </label>
    <label class="label">
      Years Worked:
      <input type="number" min="0" formControlName="yearsWorked">
    </label>
    <div class="label">
      Is Your Money Currently:
      <div>
        In The Market
        <input type="radio" value="true" formControlName="moneyIsInMarket">
      </div>
      <div>
        Out Of The Market
        <input type="radio" value="false" formControlName="moneyIsInMarket">
      </div>
    </div>
    <button>Submit</button>
  </form>
</div>
